<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="height:1000px;width:100%;display:flex;justify-content:center;align-items: center;gap:1rem;">
            <a href="/EasyRent/Alquileres/Habilitacion">Alquileres</a> //habilitar alquileres
            <a href="">Inquilinos</a> 
            <a href="/EasyRent/Viviendas/Gestion">Viviendas</a> //habilitar
            <a href="/EasyRent/Agencias/Gestion">Agencias</a>
        </div>
    </body>
</html>
