<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Easy Rent - Vivienda</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container-fluid tm-content-container">
            <nav th:replace="../fragments/Menu.html :: menu"></nav>
        </div>
        <div class="container pt-5 mt-5">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead class="table-warning">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Agencia</th>
                        <th scope="col">Estado</th>
                        <th scope="col"><p class="text-center m-0">Acciones</p></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vivienda : ${listViviendas}">
                            <td th:text="${vivienda.id}"></td>
                            <td th:text="${vivienda.direccion}"></td>
                            <td th:text="${vivienda.id_agencia.nombre}"></td>
                            <td th:if="${vivienda.estado} == true" th:text="'Activo'" class="bg-success"></td>
                            <td th:if="${vivienda.estado} == false" th:text="'Inactivo'" class="bg-danger"></td>
                            <td class="col-1 text-center">
                                <a th:href="@{'/Viviendas/edit/' + ${vivienda.id}}"><i class="bi bi-pencil"></i></a>
                                &nbsp;&nbsp;
                                <a th:href="@{'/Viviendas/delete/' + ${vivienda.id}}"><i class="bi bi-trash3"></i></a>
                            </td>
                        </tr>
                    </tbody>
              </table>
            </div>
            <a class="" href="/EasyRent/Viviendas/new">
                <button type="button" class="btn btn-outline-warning text-dark py-3 px-4">
                    <h6 class="d-flex align-items-center gap-2 pb-0 mb-0">
                        NUEVA VIVIENDA
                        <i class="bi bi-plus-circle fs-5"></i>
                    </h6>
                </button>
            </a>
        </div>
      <div class="g-col-12 fixed-bottom">
          <!-- Footer -->
            <footer th:replace="../fragments/Footer.html :: footer"></footer>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>