<footer th:fragment="footer" class="row mx-auto">
    <div class="container-fluid d-flex flex-column align-items-center bg-light py-0 text-center px-0" style="height:350px">
        <div class="container-xxl d-flex gap-5 row h-75 mt-5 pb-3" style="border-bottom: 1px solid lightgray">
            <div class="col bg-primary py-1"></div>
            <div class="col bg-dark py-1"></div>
        </div>
        <p class="text-align-center pt-4">Copyright 2023 - Designed by Federico Garcia</p>
    </div> 
</footer>