<nav th:fragment="menu" class="container-fluid py-3 row d-flex border align-items-center justify-content-center position-relative">
    <div class="col-8">
        <ul class="d-flex align-items-center justify-content-end gap-5 my-2 w-100">
            <li class="list-unstyled fs-6 fw-semibold"><a class="text-dark text-decoration-none" href="/EasyRent/Viviendas/Disponibles">VIVIENDAS</a></li>
            <li class="list-unstyled fs-6 fw-semibold"><a class="text-dark text-decoration-none" href="/EasyRent/Agencias/Vigentes">AGENCIAS</a></li>
            <li class="list-unstyled fs-6 fw-semibold"><a class="text-dark text-decoration-none" href="">MI ALQUILER</a></li>
            <li class="list-unstyled">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ROLES
                    </button>
                    <ul class="dropdown-menu">
                      <li class="list-unstyled fs-6 fw-semibold"><a class="text-dark text-decoration-none" href="/EasyRent/Cliente">CLIENTE</a></li>
                      <li class="list-unstyled fs-6 fw-semibold"><a class="text-dark text-decoration-none" href="/EasyRent/Empleado">EMPLEADO</a></li>
                      <li class="list-unstyled fs-6 fw-semibold"><a class="text-dark text-decoration-none" href="/EasyRent/Admin">ADMIN</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="position-absolute left-0 top-0 h-100">
            <a href="/EasyRent/"><img class="h-100" src="https://acquisitionlab.s3.ap-southeast-2.amazonaws.com/cms/YyFbRQy5SPGrMLdh2AHy.png"></a>
        </div>
    </div>
    
</nav>
