<nav th:fragment="menu" class="container-fluid py-3 row d-flex border align-items-center justify-content-center position-relative">
    <div class="col-8">
        <ul class="d-flex align-items-center justify-content-end gap-5 my-2 w-100">
            <li class="list-unstyled fs-6 fw-semibold"><a class="text-decoration-none" href="/EasyRent/Viviendas/Disponibles">VIVIENDAS</a></li>
            <li class="list-unstyled fs-6 fw-semibold"><a class="text-decoration-none" href="/EasyRent/Agencias/Vigentes">AGENCIAS</a></li>
            <li class="list-unstyled fs-6 fw-semibold"><a class="text-decoration-none" href="/EasyRent/Alquileres/Historial">HISTORIAL</a></li>
        </ul>
        <div class="position-absolute left-0 top-0 h-100">
            <a href="/EasyRent/"><img class="h-100" src="https://images.squarespace-cdn.com/content/v1/625182ed89649774fa76d3d7/9898679c-50b0-4ddc-b69e-78e7e4ff4705/imageedit_1_4256509042.png"></a>
        </div>
    </div>
</nav>
